extends ../layouts/common
block content
	p.d-inline(style="font-size:36px") &#128512; &#128516; &#128525; &#128151;
	span.text-light.text-uppercase p r o j e c t &copy;
	.d-block.pt-5
		a.peimary.pt-5.text-decoration-none(href="https://yame-shop-demo-17052020.web.app/#", target="_blank") https://yame-shop-demo-17052020.web.app/#
		br
		a.text-danger.pt-5.text-decoration-none(href="https://h20-shop-bm.web.app/", target="_blank") https://h20-shop-bm.web.app/



