extends ../layouts/common
block content
	.container-view
		h2.p-5.font-weight-bolder.text-light.text-center= heading
			span
				a.btn.btn-warning.mb-2.ml-2(href="/subject/create/"+ subject.id) New Note
		ul
			each news in subject.news
			
				li.list
					.d-flex
						.h5.text-success= news.heading
							.i.zmdi.zmdi-favorite.text-danger.ml-2.mt-1
						a(href="/subject/edit/"+subject.id+'+'+news.date).ml-auto
							.i.zmdi.zmdi-brush.text-primary
						a(href="/subject/remove/"+subject.id+'+'+news.date)
							.i.zmdi.zmdi-close.text-danger.mr-1.ml-2
				span
					ul.list-group.list-group-flush
						each note in news.notes
							li.list-group-item= note
						li.list-group-item
							if news.link
								a.text-decoration-none(href="" + news.link) Link Here (^-^)
				h6.small.text-danger.p-2.text-center= '<-- '+news.date+' -->'
			
				

